@import './Presets/Variables.scss';
@import './Presets/Mixins.scss';

.button-container {
    @include flexCenterColumn;
    text-align: center;
    padding: 10px;
}

.button-container button {
    background-color: $secondary;
    color: $tertiary;
    border-radius: 5%;
    padding: 7px 10px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}