@import './Presets/Variables.scss';
@import './Presets/Mixins.scss';

.navBar-wrapper {
    font-family: $primaryFont;
}

.navBar-header {
    @include flex("", column, center, center, center);
}

.navBar-header h1, h2, h4 {
    margin: 8px;
}

.navBar-navigation {
    @include flex("", row, center, "", center);
}

.navBar-container {
    @include flex("", column, "", center, center);
    padding: 75px 50px;
}

.navBar-links {
    @include flex("", column, center, center, center);
}

.navBar-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
    border: solid 1px black;
    background-color: white;
    @include navBarTransition(0.5s);
}

#ig:hover {
    background-color: transparent;
}
#nf:hover {
    background-color: black;
    color: red;
}

.navBar-links div {
    background: linear-gradient(90deg, rgba(255,241,0,1) 0%, rgba(255,0,0,1) 50%, rgba(160,0,255,1) 100%);
    height: 40px;
    width: 93px;
    @include flex("", "", center, center, center);
}

.navBar-info {
    @include flex(100%, column, center, center, center);
}

.navBar-info p {
    margin: 5px;
}