@import './Presets/Variables.scss';
@import './Presets/Mixins.scss';

//Netflix

.netflix-container {
    background-color: #141414;
    height: 120vh;
    margin: -30px -8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

//NavBar

.netflix-navBar-container {
    @include netflixNavBar(transparent);
    @include navBarTransition(0.2s);
}

.netflix-navBar-container__scroll {
    @include netflixNavBar(#141414);
    @include navBarTransition(0.2s);
}

.netflix-navBar-left {
    display: flex;
    align-items: center;
    width: 50%;
}

.netflix-navBar-container img {
    width: 14%;
}

.netflix-navBar-container__scroll img {
    width: 14%;
}

.netflix-navBar-link {
    text-decoration: none;
    color: rgb(219, 219, 219);
    padding: 0px 10px;
}

.netflix-navBar-link:hover {
    color: rgb(180, 180, 180);
}

.netflix-navBar-active {
    color: white;
}

.netflix-navBar-active:hover {
    color: white;
}


.netflix-navBar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    color: white;
}

.netflix-navBar-right img {
    width: 3%;
    margin: 0px 15px;
}

.netflix-navBar-right p {
    margin: 0px 10px;
}

.netflix-navBar-profile {
    width: 20%;
    display: flex;
    align-items: center;
}

.netflix-navBar-profile img {
    margin: 0px 4px;
}

#profile_image {
    width: 20%
}

#profile_arrow {
    width: 7%;
}


//Netflix Pages

.netflix-pages-header {
    height: 100px;
}

.netflix-pages-content {
    color: lightgrey;
}