@import './Presets/Variables.scss';
@import './Presets/Mixins.scss';

.netflix-container {
    background-color: #141414;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 80vh;
}

.netflix-navBar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 10%;
}

.netflix-navBar-container img {
    width: 10%;
    margin: 0px 1%;
}

.netflix-navBar-link {
    color: #ffffff;
    text-decoration: none;
    padding: 0px 10px;
}

.netflix-navBar-link:hover {
    color: #8a8d8e;
}

.netflix-navBar-active {
    color: #c9c6c3;
}

.netflix-navBar-active:hover {
    color: #c9c6c3;
}





.panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 11%;
    height: 100px;
    margin: 40px 2px 0px 2px;
    cursor: pointer;
}

.panel-container-image img {
    width: 100%;
}

.panel-container-content h1 {
    margin: 0px;
    color: white;
    font-size: 100%;
}

.panel-container-content p {
    margin: 0px;
    color: white;
    font-size: 80%;
}




.netflix-page-container {
    display: flex;
    flex-direction: column;
}

.netflix-header {
    color: white;
    margin-left: 20px;
}

.netflix-page-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
}