@import './Presets/Variables.scss';
@import './Presets/Mixins.scss';

@mixin textField($width, $fontSize) {
    width: $width;
    font-family: $primaryFont;
    font-size: $fontSize;
    text-align: center;
}

.textField-container {
    @include flexCenter(40%, column, center);
    padding: 10px;
}

.textField-container label {
    @include textField(100%, 16px);
    padding-bottom: 5px;
}

.textField-container input {
    @include textField(100%, 12px);
}