@mixin flex($width, $flexDirection, $justifyContent, $alignItems, $textAlign) {
    width: $width;
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
    text-align: $textAlign;
}

@mixin navBarTransition($time) {
    -webkit-transition: all $time linear;
    -moz-transition: all $time linear;
    -o-transition: all $time linear;
    transition: all $time linear;
}

@mixin netflixNavBar($background) {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $background;
    position: fixed;
    top: 0;
    font-size: 14px;
    padding-left: 50px;
}