$primaryColor: black;
$secondaryColor: white;
$tertiaryColor: red;

$primaryFont: 'Nunito Sans', sans-serif;
$secondaryFont: 'Verdana';

$instagramPrimaryColor: white;
$instagramSecondaryColor: grey;

$netflixPrimaryColor: darkgrey;
